@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Victor Vinicius | Api de Treinamento</h1>
    <p>Acompanhe <a href="https://github.com/Foqsz/dev-ApiNoSQL-MongoDb">meu GitHub!</a>.</p>
</div>
