@model ProjetoApi_MVC.Models.ProductViewModel

<form asp-action="DeleteProduct" method="post" class="form-horizontal">
    @Html.AntiForgeryToken() <!-- Token anti-forgery para proteção -->
    <!-- Campo oculto para enviar o ID do produto -->
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <p>Tem certeza de que deseja excluir o produto <strong>@Model.Nome</strong>?</p>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-info">Back to List</a>
        </div>
    </div>
</form>
